=form_for([@lesson, @question]) do |f|
  =f.label :description
  =f.text_field :description
  =f.label :equation
  =f.text_field :equation
  =f.label :level
  =f.text_field :level
  =f.submit "Submit"
