<div class="row">
<div class="columns small-centered small-12 medium-10 large-8">
<div class="question">
  <%= @question.equation %>
  <%= @question.description %>

 </div> 
   <ol>
    <% @question.answers.each do |answer| %>
      <li> 
        <dl>
          <dt><%= answer.value %></dt>
          <dd><%= answer.explaination %></dd>
        </dl>
      </li>
    <%end %>

  </ol>

</div>
