<div id='question'>

</div>


<!-- Backbone templaltes for ajaxy rendering -->
<div id="templates">
  <script class="question" type="text/template">
    <div class="row">
      <div class="columns small-12 medium-8 large-6 centered-small"
        <p>{{description}}</p>
        <p>{{equation}}</p>
        <ol class="questions">
          <li id="answer_{{answers[0].id}}" class="answer_value"> {{answers[0].value}}
            <div class="opened"></div>
          </li>
        </ol>
      </div>
    </div>
  </script>
  <script class="onGuessed" type="text/template">
    
      <h3>{{exclamation}}</h3>
      <a class="show_reason">Explain Why</a>
      <a class="button retry">{{button_text}}</a>

  </script>

</div>



<script>
  var questionTemplateHtml = $('#templates .question').html();
  var questionTemplate = _.template(questionTemplateHtml);
  //
  var guessTemplateHtml = $('#templates .onGuessed').html();
  var guessTemplate = _.template(guessTemplateHtml);
</script>