<div id='question'>

</div>


<!-- Backbone templaltes for ajaxy rendering -->
<div id="templates">
  <script class="question" type="text/template">
    <p>{{ equation }}</p>
    <p>{{ description }}</p>
  </script>
</div>

<script>
  var questionTemplateHtml = $('#templates .question').html();
  var questionTemplate = _.template(questionTemplateHtml);
</script>