<div class="row">
  <div class="columns small-centered small-12 medium-10 large-8">
    <div class="question">
      <%= @question.equation %>
       <%= @question.description %>
        
    </div>
  </div>
</div>
