<div class="splash-image">
	<p>Image</p>
	</div>

<div class="splash-video">
	
	<div class="large-6 columns large-offset-1">
		<h1 class="title">About</h1>	
		<div class="flowplayer">
	   <video>
	      <source type="video/mp4"  src="http://video-js.zencoder.com/oceans-clip.mp4">
	   </video>
		</div>
	</div>

	<div class="large-5 columns">
		<p class="caption">Prepify is some awesome mutherfuckin' shit. You be all like "I don't get the SAT" and we're all like "That's cuz your a bitch" but POW and we make you awesome.</p>
	</div>

</div>

<div class="profiles">
	<div class="student"></div>
	<div class="student"></div>
	<div class="student"></div>
</div>

<div class="team">
	<p>Team</p>
</div>

<div class="news">
	<p>News</p>
</div>









