<div class="splash_image">
	<p>Image</p>
	</div>

<div class="spash_video">
	<p>Video</p>
</div>

<div class="profiles">
	<p>Profiles</p>
</div>

<div class="team">
	<p>Team</p>
</div>

<div class="news">
	<p>News</p>
</div>









