<div class="lesson">
  <div class="row">
  	<div class="large-6 columns">
      <h3 class="lesson-title"><%= @lesson.name %></h3>
  	</div>

  	<div class="large-5 large-offset-1 columns">
  		<p class="lesson-text"><%= @lesson.conclusion %></p>
  		<a class="button small" href="#" >Take Quiz</a>
  	</div>

  </div>
</div>

