<div class="lesson">
	<h1 class="lesson-title"><%= @lesson.name %></h1>
	
	<div class="large-6 columns">
		<div class="player">
	   <video preload="none">
	      <source type="video/mp4"  src="http://video-js.zencoder.com/oceans-clip.mp4">
	   </video>
		</div>
	</div>

	<script type="text/javascript">$(".player").flowplayer();</script>

	<div class="large-5 large-offset-1 columns">
		<p class="lesson-text"><%= @lesson.conclusion %></p>

		<p href="<%= lesson_questions_path(@lesson.id)	%>" ></p>
	</div>
</div>