main {
	padding: 0px;
}

body {
	margin: 0px;
}

.splash-image, .splash-video, .profiles, .team {
	width: 100%;
	margin: 0px;
}

.splash-image {
	height: 500px;
	background-image: url(image-path('scantron.png'));
	background-size: cover;
}

.splash-video {
	height:600px;
	background-color: blue;
	color:white;
}

.flex-video {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.flowplayer {
	background-color: gray;
}

.caption {
	margin-top: 25px;
}

.profiles {
	height:250px;
	background-color: yellow;
}

.team {
	height: 100px;
	background: green;
}

.news {
	height: 300px;
	background-color: white;
}