.footer-bar {
	width: 100%;
	height: 200px;
	margin: 0px;
	background-color:black;
	clear:both;
	display: inline-block;
}

.footer-links {
	color:white;
	float:left;

	.links {
		list-style-type: none;
		margin-top: 50px;
		margin-left: 25px;
		font-family: "Avenir";
		font-size: 1.15em;

		a {
			color:white;
		}	

	}

}

.footer-logo {
	float:left;
	width: 300px;
}

.main-container {
	min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 200px;
}

#push {
	height: 200px;
}