<div class="footer-bar">
	<div class="footer-logo">
		<%=link_to( image_tag("prepify-footer.png"), root_path) %></li>
	</div>
	<div class="footer-links">
		<ul class="links">
			<li>About</li>
			<li>Home</li>
			<li>Team</li>
			<li>Blog</li>
		</ul>
	</div>
</div>